<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pedido</title>
</h:head>
<body style="font-size: 70%">
	<h:form>
	<p:panel style="text-align:right">
		<p:commandButton value="Salir" icon="pi pi-sign-out" action="#{beanLogin.salirSistema()}" />
	</p:panel>
	</h:form>
	<p:panel header="Datos del cliente:">
		<h:outputText
			value="#{beanPedidos.nombres} #{beanPedidos.apellidos} - #{beanPedidos.direccion}" />
	</p:panel>
	<br />
	<h:form id="form1">
		<p:dataGrid value="#{beanPedidos.listaProductos}" var="p" columns="4"
			rows="8" paginator="true" rowsPerPageTemplate="4,8,12">
			<f:facet name="header">
				<h:outputText value="Seleccione los productos:" />
			</f:facet>
			<p:panel header="#{p.codigoProducto}">
				<h:panelGrid columns="1">
					<h:outputText value="#{p.nombre}" />
					<h:outputText value="$#{p.precioUnitario}" />
					<h:outputText value="#{p.descripcion}" />
					<p:commandButton
						actionListener="#{beanPedidos.actionInsertarProducto(p)}"
						update=":form2:carrito" icon="pi pi-shopping-cart" />
				</h:panelGrid>
			</p:panel>
		</p:dataGrid>
	</h:form>
	<br />
	<h:form id="form2">
		<h:panelGrid columns="2" style="width:50%">
			<p:panel header="Carrito de compras:" id="carrito">
				<p:dataTable value="#{beanPedidos.pedidoCabTmp.pedidoDets}"
					var="det">
					<p:column>
						<h:outputText value="#{det.producto.nombre}" />
					</p:column>
					<p:column style="width:60px;text-align:right">
						<h:outputText value="#{det.producto.precioUnitario}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<h:panelGrid style="text-align:center">
				<h:outputText
					value="Una vez que seleccione los productos puede confirmar su pedido: " />
				<p:commandButton icon="pi pi-chevron-circle-right" value="Continuar"
					action="confirmacion"></p:commandButton>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</body>
</html>